body{
    background-image: url(Vidico\ __\ Agency\ on\ Behance.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}
header{
    background-color: plum;
    height: 150px;
    text-align: center;
}
footer{
    background-color: plum;
    height: 150px;
    position: relative;
    top: -100px;
    text-align: center;
}
header>button{
    border: none;
    background-color: palevioletred;
    border-radius: 65px;
    position: relative;
    left: -680px;
    top: 30px;
    height: 50px;

}
main>#basics{
    background-color: rgb(168, 168, 253);
    width: 400px;
  height: 250px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
  text-align: center;
}
main>#importance{
    background-color: rgb(220, 174, 253);
    width: 600px;
  height: 300px;
  position: relative;
  left: 380px;
  top: -150px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
  text-align: center;
}
main>#risks{
    background-color: rgb(239, 151, 151);
    width: 450px;
  height: 550px;
  position: relative;
  left: 800px;
  top: -300px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
  
}
main>#risks>h3{
    text-align: center;
}
main>#data{
    background-color: rgb(158, 241, 241);
    width: 500px;
  height: 400px;
  position: relative;
  top: -500px;
  left: 400px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
}
main>#data>h3{
    text-align: center;
}
main>#resources{
    background-color: rgb(90, 106, 152);
    width: 400px;
  height: 400px;
  position: relative;
  top: -600px;
  left: 800px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
}
main>#resources>h3{
    text-align: center;
}
header>h1{
  position: relative;
  top: 75px;
}