body{
    background-image: url(download.gif);
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}
header{
    background-color: plum;
    height: 150px;
    text-align: center;
}
footer{
    background-color: plum;
    position: relative;
    top: 80px;
    height: 120px;
    text-align: center;

}
header>button{
    border: none;
    background-color: palevioletred;
    border-radius: 65px;
    position: relative;
    left: -480px;
    top: 30px;
    height: 50px;

}
main>#intro{
    background-color: rgb(144, 205, 224);
    width: 500px;
  height: 200px;
  border: none;
  box-sizing: border-box;
    border-radius: 82px;
    text-align: center;
}
main>#importance{
    background-color: rgb(152, 246, 214);
    width: 450px;
    height: 550px;
    border: none;
    box-sizing: border-box;
    border-radius: 80px;
    
    position: relative;
    left: 500px;
}
main>#importance>h3{
    text-align: center;
}
header>h1{
    position: relative;
    top: 75px;
}