body{
    background-image: url(AI.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
}
header{
    background-color: plum;
    height: 140px;
    text-align: center;
}
footer{
    background-color: plum;
    height: 85px;
    text-align: center;
}
header>button{
    border: none;
    background-color: palevioletred;
    border-radius: 65px;
    position: relative;
    left: -480px;
    top: 30px;
    height: 50px;

}
main>#basics{
    background-color: rgb(144, 91, 194);
    width: 400px;
  height: 300px;
  position: relative;
  left: 150px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
  text-align: center;
}

main>#relevance{
    background-color: rgb(165, 231, 231);
    width: 600px;
  height: 500px;
  position: relative;
  left: 350px;
  top: -200px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
}
main>#relevance>h3{
    text-align: center;
}
main>#real{
    background-color: palevioletred;
    width: 600px;
  height: 500px;
  position: relative;
  left: 200px;
  top: -300px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
}
main>#real>h3{
    text-align: center;
}
main>#goals{
    background-color: rgb(165, 120, 209);
    width: 600px;
  height: 550px;
  position: relative;
  left: 400px;
  top: -450px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
}
main>#goal>h3{
    text-align: center;
}
main>#competition{
    background-color: rgb(189, 125, 135);
    width: 600px;
  height: 500px;
  position: relative;
  left: 150px;
  top: -450px;
  border: none;
  border-radius: 80px;
  box-sizing: border-box;
}
main>#competition>h3{
    text-align: center;
}
header>h1{
    position: relative;
    top: 75px;
}